@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600;700&display=swap');



.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap:10px; */
}

.item{
    background-color: white;

    padding: 8px;
}

.item:nth-of-type(2){
    
    grid-row: 1/5;
    grid-column: -1/2;
    height: 70vh;
    
    /* background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170"); */

    background-image: url('../../Media/lawyer_women.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.item:nth-of-type(1){
    
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    
}

.item:nth-of-type(1) p{
    
    display: inline-block;
    text-align: left;
    font-size: 13px;
    color: #555555;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.item:nth-of-type(1) button{
    
    float: left;

    border: orange  solid 1px;
    font-size: 13px;
    width: 113px;
    height: 34px;
    border-radius: 80px;
    color: white;
    cursor: pointer;
    background-color: orange;
}

.landing-text{
    text-align: left;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 35px;
    color: #002659;
}


.container-services-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 40px;
}

.item-services-area .icon-services {
    float: left;
    margin-left: 20px;
}

.item-services-area h3 {
    float: left;
    font-size: 25px;
    margin-left: 20px;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    color: #002659;
}
.item-services-area {

    background-color: white;
}

.item-services-area p{
    text-align: left;
    float: left;
    margin-left: 20px;
    margin-top: 4px;
    font-size: 13px;
    color: #555555;
    margin-right: 10px;
}
.item-services-area a{
    width: 25%;
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: orange;
    cursor: pointer;
}

.services-area{
    background-color: #f3f3f3;
    padding-top: 80px;
    padding-bottom: 80px;
}



@media (max-width:768px) {
    .container-services-area{
        display: grid;
        grid-template-columns: repeat(1,1fr);
            
        gap: 10px;
    }

    .item-services-area button{
        display: block;
        width: 40%;
    }
}


.why-choose-us-section-container{
    display: grid;
    padding-top: 80px;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 80px;
}

.why-choose-us-section-item{
    background-color: white;
    padding: 8px;
}

.chooseUsHeader{
    float: left;

    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 30px;
    color:#002659;
}

.why-choose-us-section-item h4{
    float: left;

    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 18px;
    color: orange;
}


.why-choose-us-section-item:nth-of-type(1){
    /* background-image: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170"); */

    background-image: url("../../Media/lawyer_men.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1/4;
}
.why-choose-us-section-item:nth-of-type(5){
    
    grid-column: 2/3;
}

.why-choose-us-section-inner-grid-container{
    display: grid ;
    grid-template-columns: 0.2fr 1fr;
    row-gap:30px;
}

.why-choose-us-section-inner-grid-item{
    background-color: white;

    
}

i{
   
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0px -1px 23px 1px rgba(0,0,0,0.29); 
box-shadow: 0px -1px 23px 1px rgba(0,0,0,0.29);
  padding: 0.5em 0.6em;
  background-color: white;
  float: left ;
}

.why-choose-us-section-inner-grid-item h3{
    float: left;

    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 18px;
    color: #002659

    
}
.why-choose-us-section-inner-grid-item p{
    float: left;
    text-align: left;
    

    font-size: 13px;
    margin-top: 10px;
    color:#555555;
}

.why-choose-us-section-item button{
    float: left;
    width: 23%;
    text-align: center;

    border: orange  solid 1px;
    font-size: 13px;

    height: 34px;
    border-radius: 80px;
    color: white;
    cursor: pointer;
    background-color: orange;
}

.carusel-section{
    height: 300px;
    background-color: #002659;
}

.slick-slide{
    background: white;
    
    width: 300px !important;
    
}

.slick-slide img{
    width: 100%;
    height: 200px;
}

.slick-slide h4{
    float: left;
}
.slick-slide p{
    text-align: left;
}


.slick-slide{
    margin-left:  15px;
    margin-right:  15px;
  }

  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
    
  }



.carusel{
    
    
     margin-top: -190px;
    margin-left: 15%;
    margin-right: 15%;

 } 


.carusel-section h3{
    color: orange;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 20px;
}

.carusel-section h2{
    color: white;
    font-size: 25px;
    font-family: 'Libre Bodoni', serf;
}

.big-carusel-container{
    background-color: #f3f3f3;
}
.partner-section-big-container{
    padding-top: 10%;
    background-color: #f3f3f3;
    padding-bottom: 50px;
}


.partner-section-item{
width: 100px;
height: 150px;
background-color: blue;
margin: 10px
}

.partner-section-container{
    /* display: flex;
    border: red 1px solid;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center; */


        
        margin-bottom: 150px;


        display: grid;
      grid-template-columns: 3fr 2fr;
      background-color: white;
      height: auto;
      margin-top: 10vh;
      border: solid 2px rgb(237 237 237);
      border-radius: 35px;
      margin-left: 15%;
        margin-right: 15%;
    
}

.partner-section-item:nth-of-type(2){
    width: 100px;
    height: 300px;
    margin-left: -250px;
    background-color: red;
    margin-bottom: 100px;
    }


.partner-section-item:nth-of-type(1){
    width: 750px;
    align-self: center;
    margin-left: -100px;
    border-radius: 10px;
    height: 210px;
    }

.partner-section-item:nth-of-type(1) h2{
    float: left;
    margin-left: 25px;
    
}
.partner-section-item:nth-of-type(1) p{
    text-align: left;
    margin-left: 25px;
}
.partner-section-item:nth-of-type(1) button{
    float: left;
    margin-left: 25px;
}

.partner-section-item:nth-of-type(1) div{
    width: 50%;
}


.carusel-button-container{
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
}

.carusel-button-container-left{
    margin-right: 15px;
    font-size: 20px;
    color: #555555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.carusel-button-container-right{
    margin-right: 15px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: orange;
    cursor: pointer;
}


.leftside{
    padding: 1vw;
}

.rightside{
    position: relative;
    width: 100%;
    height: 100%;
}

.rightside::before {
    content: '';
    
    background-image: url('../../Media/woman2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 210%;
    bottom: 0;
    left: 25%;
    position: absolute;
  }


.leftside h2{
    float: left;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 25px;
    color: #002659;
}

.leftside p{
    text-align: left;
    font-size: 13px;
    color: #555555;
}

.leftside button{
    float: left;
}

.partnerButton{
    background-color: orange;
    cursor: pointer;
    border: solid 1px orange;
    width: 115px;
    height: 30px;
    border-radius: 20px;
    color: white;
}

.partners-container{
    display: flex;
    justify-content: center;
}
.partners-container img{
    margin-right: 25px;
    margin-top: 50px;
    border: solid burlywood 1px;
    border-radius: 100px ;
    padding: 25px;
}


.testimnonials-big-container{
    background-color: #002659;
}


.testimonials-container{
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 15%;
    margin-right: 15%;

    align-items: center;

}




.testimonials-inner-grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    gap: 10px;
    align-items: center;

    
}

.testimonials-inner-grid-item{
    border: solid 1px white;
    background-color: white;
    border-radius: 10px;
}

.testimonials-inner-grid-item h4{
   float: left;
   font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 15px;
    color: orange;
    margin-left: 10px;
    margin-top: 10px;
}
.testimonials-inner-grid-item p{
   text-align: left;
   font-size: 12px !important;
   color: #555555 !important;
   margin-left: 10px;
   margin-bottom: 10px;
}

.testimonials-item h2{
    float: left;
    color: orange;
    font-family: 'Libre Bodoni', serif;
    
    font-size: 20px;
}
.testimonials-item h3{
    float: left;
    font-family: 'Libre Bodoni', serif;
    font-size: 35px;
}
.testimonials-item button{
    float: left;
    width: 25%;
    background-color: orange;
    color: white;
    height: 34px;
    border-radius: 25px;
    cursor: pointer;
}
.testimonials-item p{
    text-align: left;
    font-size: 15px;
}

.left-text{
    color: white;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 2%;

}

.footer-items p{
    text-align: left;
    color: #555555;
    font-size: 15px;
}
.footer-items h3{
    float: left;
    font-family: 'Libre Bodoni', serif;
}

.area-footer{
    margin-top: 10px;
}

.area-footer p{
    margin-top: 10px;
}

.footer-items:nth-of-type(2){
    margin-left: 50px;
}

.services-area-header{
    color: orange;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 18px;
}


.services-area h2{
    color: #002659;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.headerPartner{
    color: orange;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 20px;
}

.subheaderPartner{
    color: #002659;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
}

.footer-icon{
    background: rgb(255 166 0 / 21%);
    width: 39px;
    height: 31px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 4px;
    color: orange;
}

/* MOBILE */
@media (max-width:768px) {
    .item:nth-of-type(1) {
        margin-left: 0;
        z-index: 1;
    }

    .item:nth-of-type(2) {
        margin-left: -65vh;
        z-index: 0;
    }

    .partners-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}